@import "./base/base";
@import "./layouts/layouts";
// @import "./components/components";

body {
    padding: 0;
    margin: 0;

    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}