$blue: #2196F3;
$green: #4CAF50;

body {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    color: blue;
    cursor: pointer;
}

img {
    width: 500px;
}

.green {
    color: $green
}