nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: $blue;

    padding: 12px 25px;

    font-size: $text-xl;
    color: white;

    .login {
        cursor: pointer;

        .drop_down {
            vertical-align: bottom;
        }
    }
}